#mediaBar {
    -fx-background-color: black;
}

.mediaLabel {
    -fx-text-fill: white;
}

#episodeTitleLabel {
    -fx-text-fill: #a5973e;
    -fx-font-weight: bolder;
    -fx-font-size: 14px;
}

#episodeDateLabel, #episodeDurationLabel {
    -fx-font-size: 10px;
}

#descLabel {
    -fx-font-size: 10px;
    -fx-text-fill: #989d9d;
}

.channelList, .episodeList {
    -fx-padding: 0px;
    -fx-border-width: 0px;
    -fx-background-insets: 0;
    -fx-control-inner-background: black;
}

.channelList .list-cell {
//    -fx-control-inner-background: black;
    -fx-padding: 0px;
}

.channelList .list-cell:focused {
    -fx-background-color: transparent;
}

.channelList:focused {
    -fx-background-color: transparent;
}

.channelList .list-cell:selected {
    -fx-background-color: #a5973e;
}

.episodeList .list-cell:even {
    -fx-background-color: #242424;
    -fx-text-fill: white;
}

.episodeList .list-cell:odd {
    -fx-background-color: #353535;
//    -fx-text-fill: white;
}

.episodeList .list-cell:selected {
    -fx-background-color: #545454;
}

.episodeList:focused {
    -fx-background-color: transparent;
}

.list-view .scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-pref-width: 0;
}

.mediaBtnClass {
//    -fx-background-color: aqua;
    -fx-background-color: transparent;
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
}

#playBtn {
    -fx-background-image: url('../images/play-32.png');

}

#pauseBtn {
    -fx-background-image: url('../images/pause-32.png');
}

#volumeLabel {
    -fx-background-image: url('../images/Volume_2-32.png');
    -fx-background-color: transparent;
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
}

.fileBtnClass {
    -fx-background-color: transparent;
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
//    -fx-background-position: 90%;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
}

#playListBtnAdd {
    -fx-background-image: url('../images/star_outline-32.png');
}

#playListBtnRemove {
    -fx-background-image: url('../images/star-32.png');
}

#channelBox {
    -fx-background-color: black;
}

#downloadBtn {
    -fx-background-image: url('../images/cloud-download-32.png');
}

#playingBtn {
    -fx-background-image: url('../images/music-32.png');
}

/*
#downloadingBtn {
    -fx-background-image: url('../images/hourglass-32.png');
}
*/
#deleteBtn {
    -fx-background-image: url('../images/delete-32.png');
}

.smallBtnClass {
    -fx-background-color: transparent;
    -fx-background-size: 15px;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 15px;
    -fx-pref-height: 15px;
}

.progressBtnClass {
    -fx-background-color: transparent;
    -fx-background-size: 10px;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 10px;
    -fx-pref-height: 10px;
}

#progressUnplayed {
    -fx-background-image: url('../images/circle_full-10.png');

}

#progressNotDone {
    -fx-background-image: url('../images/circle_half-10.png');
}

#progressDone {
    -fx-background-image: url('../images/check-32.png');
}

.downloadIndicator .percentage {
    -fx-font-size: 0.916667em; /* 11pt - 1 less than the default font */
    -fx-text-background-color: white;
    -fx-fill: -fx-text-background-color;
}


/* CHANNEL INFORMATION */
.channelInfoPane {
    -fx-control-inner-background: black;
    -fx-background-color: black;
//    -fx-padding: 0px;
}


#infoBtnDown {
    -fx-background-image: url('../images/arrow_down-32.png');
}

#infoBtnUp {
    -fx-background-image: url('../images/arrow_up-32.png');
}

.channelInfoLabelClass {
    -fx-text-fill: white;
    -fx-font-smoothing-type: lcd;
}

#channelInfoTitle {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#channelEpisodes {
    -fx-font-size: 12px;
    -fx-font-style: italic;
}

#channelInfoDesc {
    -fx-font-size: 12px;
}

/* NES */
.channelInfoBtn {
    -fx-background-color: transparent;
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
}
#addChannelBtn {
    -fx-background-image: url('../images/add_icon-32.png');
}

#removeChannelBtn {
    -fx-background-image: url('../images/delete-32.png');
}